html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgb(28,28,28);
}

.mainbackground {
  background-color: #111111;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.app-logo {
  font-size: 4rem;
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.2rem;
}

.root {
  height: 100%;
  width: 100%;
}

.error {
  position: relative;
}

/* .full-container { */
  /* background-image: url(./images/5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%; */
/* } */

.app-body {
  flex-basis: 1;
}

.app-header {
  flex-basis: 1;
}

.app-big-margin-top {
  margin-top: 100px;
}

.app-tiny-margin-top {
  margin-top: 5px;
}

.app-big-padding-top {
  padding-top: 100px;
}

.app-margin-right {
  margin-right: 20px;
}

.app-margin-left {
  margin-left: 20px;
}

.app-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-flex-wrap {
  flex-wrap: wrap;
}

.app-padding {
  padding: 20px;
}

.app-small-padding {
  padding: 10px;
}

.app-small-padding-sides {
  padding: 0 10px;
}

.app-padding-bottom {
  padding-bottom: 20px;
}

.app-padding-top {
  padding-top: 20px;
}

.app-margin-top {
  margin-top: 20px;
}

.app-bigger-margin-top {
  margin-top: 30px;
}

.app-margin {
  margin: 20px;
}

.app-small-margin {
  margin: 10px;
}

.app-small-margin-top {
  margin-top: 10px;
}

.app-small-margin-bottom {
  margin-bottom: 10px;
}

.app-small-margin-right {
  margin-right: 10px;
}

.app-tiny-margin-bottom {
  margin-bottom: 5px;
}

.app-margin-bottom {
  margin-bottom: 20px;
}

.app-flex-space-between {
  justify-content: space-between;
}

.app-flex-start {
  align-items: flex-start
}

.app-flex-align-self-center {
  align-self: center;
}

/* .app-flex-align-self-end {
  align-self: flex-end;
} */

.right {
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.inherit-width {
  width: inherit;
}

.full-height {
  height: 100%;
}

.app-flex-column {
  flex-direction: column;
}

.link-item {
  background: #D6E2EE;
  /* border: 1px solid rgb(28,28,28); */
  padding: 10px;
  width: 100px;
  /* cursor: pointer; */
  /* flex: 1 1 100%; */
  /* margin: 0 10px; */
}

.link-item-bigger {
  background: #D6E2EE;
  padding: 10px;
  width: 200px;
  /* cursor: pointer; */
}

.app-trip {
  background: #CDB6AF;
  padding: 20px;
  margin: 15px;
  width: 500px;
  height: 150px;
  /* cursor: pointer; */

}

.app-trip-card {
  background: #D6E2EE;
  /* cursor: pointer; */
}

.app-new-trip-card {
  background: #CDB6AF;
}

.app-new-trip-title {
  width: 300px;
}

.inline {
  display: inline;
}

.app-new-trip-description {
  width: 300px;
  height: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

.contrast {
  background-color: #CDB6AF;
}

.app-add-first {
  color: blue !important;
  cursor: pointer;
}

.app-new-activity-cost {
  /* align-self: flex-start; */
  width: 300px;
}

.app-no-top-margin {
  margin-top: 0;
}