html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(28,28,28);
}

.mainbackground {
  background-color: #111111;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.invisible {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

.app-logo {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Hind Siliguri', sans-serif;
}

.app-description {
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.17rem;
  color: #00c457;
}

.app-home {
  height: calc(100vh - 60px);
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(./images/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.2rem;
}

.root {
  height: 100%;
  width: 100%;
}

.error {
  position: relative;
}

input,
textarea,
select,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ffffff;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
  outline:0;
  caret-color: #ffffff;
  letter-spacing: 0.1rem;
}

.app-body {
  flex-basis: 1;
}

.app-header {
  height: 60px;
  flex-basis: 1;
}

.header-link-item {
  color: #ffffff;
}

.app-big-margin-top {
  margin-top: 30px;
}

.app-tiny-margin-top {
  margin-top: 5px;
}

.app-big-padding-top {
  padding-top: 100px;
}

.app-margin-right {
  margin-right: 20px;
}

.app-big-margin-right {
  margin-right: 30px;
}

.green {
  color: #00c457;
}

.checkbox {
  outline: 1px solid #00c457 !important;
}

.app-margin-left {
  margin-left: 20px;
}

.app-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-flex-wrap {
  flex-wrap: wrap;
}

.app-padding {
  padding: 20px;
}

.app-small-padding {
  padding: 10px;
}

.app-small-padding-sides {
  padding: 0 10px;
}

.app-padding-bottom {
  padding-bottom: 20px;
}

.app-padding-top {
  padding-top: 20px;
}

.app-margin-top {
  margin-top: 20px;
}

.app-bigger-margin-top {
  margin-top: 30px;
}

.app-margin {
  margin: 20px;
}

.app-small-margin {
  margin: 10px;
}

.app-small-margin-top {
  margin-top: 10px;
}

.app-small-margin-bottom {
  margin-bottom: 10px;
}

.app-small-margin-right {
  margin-right: 10px;
}

.app-tiny-margin-bottom {
  margin-bottom: 5px;
}

.app-margin-bottom {
  margin-bottom: 20px;
}

.app-flex-space-between {
  justify-content: space-between;
}

.app-flex-start, .app-new-trip-flex-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.app-single-activity {
  border-bottom: 1px solid #fff;
}

.app-trip-item {
  text-align: center;
}

.app-flex-align-self-center {
  align-self: center;
}

.activity-group {
  border-bottom: 1px solid #00c457;
  margin-bottom: 30px;
}

.activity-group:last-child {
  border-bottom: none;
}

.right {
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.inherit-width {
  width: inherit;
}

.screen-height,
.screen-height-new-trip,
.screen-height-auth,
.screen-height-trip,
.screen-height-all-trips
{
  height: calc(100vh - 50px);
}

.full-height {
  height: calc(100% - 50px);
}

.app-flex-column {
  flex-direction: column;
}

.link-item {
  background: #00c457;
  padding: 10px;
  width: 100px;
}

.link-item-ghost {
  background: transparent;
  border: 1px solid #00c457;
  color: #00c457;
  padding: 10px;
  width: 100px;
}

.link-item-bigger {
  background: #00c457;
  padding: 10px;
  width: 200px;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
	60% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
}

.app-trip {
  background: #00c457;
  padding: 20px;
  margin: 15px;
  width: 500px;
  height: 150px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.app-trip:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.app-new-trip-title {
  width: 300px;
}

.icon-link-item {
  color: #00c457;
}

.inline {
  display: inline;
}

.app-new-trip-description {
  width: 300px;
  height: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-new-activity-cost {
  width: 300px;
}

.app-no-top-margin {
  margin-top: 0;
}

.description1 {
  position: absolute;
  font-size: 0.7rem;
  letter-spacing: 0.07rem;
  left: 2vw;
  top: 30vh;
}

.description2 {
  position: absolute;
  font-size: 0.7rem;
  letter-spacing: 0.07rem;
  right: 2vw;
  top: 75vh;
  color: #00c457;
}

.description3 {
  position: absolute;
  font-size: 0.7rem;
  letter-spacing: 0.07rem;
  left: 10vw;
  top: 85vh;
}

@media screen and (max-height: 445px) {
  .screen-height-trip {
    height: auto;
  }
}

@media screen and (max-height: 460px) {
  .screen-height-new-trip {
    height: auto;
  }
}

@media screen and (max-width: 491px) {
  .app-new-trip-flex-start {
    justify-content: center;
  }
}

@media screen and (max-height: 699px) {
  .screen-height {
    height: auto;
  }
}